{% extends 'layout.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}


{% block content %}

  <div class="container my-5">
    <h2 class="mb-4">A propos de nous</h2>
    <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Curabitur nec vulputate metus, a sagittis tortor. Cras nec scelerisque dolor. Nunc sit amet nibh magna. Sed sit amet rutrum ligula. Mauris nec vestibulum ex. Sed porta risus non velit eleifend feugiat. Maecenas nec enim quam. Mauris eros mi, consequat eu mattis at, malesuada vitae nisl. Vivamus suscipit turpis quis massa tristique, nec aliquam diam consequat. Aenean varius venenatis dolor eget pellentesque. Cras bibendum justo ut erat fermentum, eget congue nisi aliquet.</p>
  </div>
{% endblock %}
