{% extends 'layout.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}


{% block content %}


	<div class="container my-5">
		<h2 class="mb-4">Terms and Conditions</h2>
		<p>
			<strong>Lorem ipsum dolor sit amet,</strong>
			consectetur adipiscing elit. Curabitur nec vulputate metus, a sagittis tortor. Cras nec scelerisque dolor. Nunc sit amet nibh magna. Sed sit amet rutrum ligula. Mauris nec vestibulum ex. Sed porta risus non velit eleifend feugiat. Maecenas nec enim quam. Mauris eros mi, consequat eu mattis at, malesuada vitae nisl. Vivamus suscipit turpis quis massa tristique, nec aliquam diam consequat. Aenean varius venenatis dolor eget pellentesque. Cras bibendum justo ut erat fermentum, eget congue nisi aliquet.</p>

		<p>Phasellus porttitor vitae sapien ac euismod. Aliquam feugiat nulla non est fermentum faucibus. Vestibulum sem ligula, egestas ornare lacus quis, aliquam imperdiet massa. Nam mattis venenatis sapien, vel finibus ligula rutrum in. Donec suscipit, nulla et sollicitudin ultricies, dolor leo interdum lorem, sit amet iaculis neque ipsum vitae felis. Maecenas dapibus nec libero eleifend rhoncus. Sed ullamcorper dui non tortor venenatis faucibus. Nulla facilisi. Duis imperdiet purus ut lacus luctus, sit amet vestibulum elit tempus. Phasellus eget sodales lectus. Donec scelerisque scelerisque ex. Pellentesque id nibh orci. Nam odio velit, imperdiet non blandit a, consequat at erat. Phasellus lacinia erat velit, nec egestas quam commodo nec. Suspendisse non euismod lorem.</p>

		<p>Nulla hendrerit nibh et metus mollis accumsan. Proin suscipit elit nunc, efficitur vulputate mi tempus finibus. Nunc at eros in nunc ultrices ornare. Phasellus auctor, ipsum a imperdiet efficitur, elit ligula porttitor elit, quis congue massa diam eu nunc. Ut non nisi iaculis metus aliquam dignissim vitae viverra tellus. Nam accumsan eros nec est porta blandit. Nulla pharetra, felis sit amet auctor suscipit, metus mauris dictum arcu, nec laoreet odio metus sit amet erat. Vivamus cursus sed sapien lacinia porta. Aliquam sollicitudin velit vitae maximus molestie. Nulla commodo placerat lobortis.</p>
	</div>
{% endblock %}
