{% extends 'layout.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block content %}
<style>
    
</style>

<div class="container ">
    <h1>Hello {{ param }}! ✅</h1>
    {# <h1>Hello {{ slug }}! ✅</h1> #}

    this is test of passing param for controller to veiw 
</div>
{% endblock %}
